#page2
	@extend .oswald-normal

.profile-pic
	position: relative
	z-index: 2
	
.name
	display: inline-block
	padding-left: 10px
	color: white
	
.runs
	display: inline-block
	padding-top: 25px
	color: white

.profile-bg
	position: relative
	bottom: 48px
	padding-top: 70px	 
	background: white

	.label-success
		margin-right: 20px

	h4
		color: $gogreen
		margin-top: 35px

	h4:first-child
		margin-top: 0px

	
		


