.profile-pic
	position: relative
	z-index: 2
	
.name
	display: inline-block
	padding-left: 10px
	color: white
	
.runs
	display: inline-block
	padding-top: 25px

.profile-bg
	position: relative
	bottom: 48px
	padding-top: 70px	 
	background: white

	p
		color: black

	
		


